RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteRule ^(.*)/utama.php /$1/ [R]

Redirect /prasidyo.herokuapp.com/utama /prasidyo.herokuapp.com
